@model List<STracker.Models.AnswersListModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int answercount = 0;
}

<div class="container">

    @foreach (var item in Model.OrderByDescending(m => m.EventDate))
    {
        <h3>@item.EventDate.ToShortDateString() - @item.Name</h3>
<br/>
        for (int i = 0; i < item.Answer.Count - 1; i++)
        {
            <div style="margin-bottom:15px">
                <div class="row">
                        <label>@item.Questions[i]</label>
                </div>
                <div class="row"><p>@item.Answer[i]</p></div>
            </div>
        }
        <hr />
    }

</div>

