@model  List<STracker.Models.SumAllViewModel>


@{
    ViewBag.Title = "SumAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SumAll</h2>

@if (Model.Count() > 0)
{
<div>Total Events: @Model[0].TotalEvents</div>
}

@foreach (var item in Model)
{
    <div>@item.Name - @item.TotalNumber </div>
}


