@model  List<STracker.Models.SumAllByPersonViewModel>

@{
    ViewBag.Title = "SumAllByPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Who Got What</h2>



<table id="myTable" class="table display">
    <thead>
        <tr>
            <td scope="col">Who</td>
            <td scope="col">Action</td>
            <td scope="col">Times</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.PersonName</td>
                <td>@item.ActionName</td>
                <td>@item.TotalNumber</td>

            </tr>
        }
    </tbody>
</table>


<script src="~/Scripts/jquery-3.3.1.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">



<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "iDisplayLength": 50
        });
    })
</script>